.about {
    padding-top: 93px;
}

.about_wrapper {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_text h2 {
    color: #499A18;
    font-family: Inika;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 463px;
    flex-shrink: 0;
}

.about_text span {
    color: #E06733;
}

.about_text p {
    color: #636060;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    max-width: 605px;
    flex-shrink: 0;
}

@media screen and (max-width: 1257px) {

    .about_wrapper {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .about_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px; 
    }

    .about_text h2 {
        text-align: center;
    }

    .about_pic img {
        width: 250px;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 95px;
    }
}


@media screen and (max-width: 400px) {
    .about_pic img {
        width: 150px;
    }
}