.contacts {
    background-color: #EDF2EC;
}

.contacts_wrapper {
    display: flex;
    justify-content: space-between;
}

.women_pic {
    margin-top: 53px;
}


.contacts_wrapper h2 {
    color: #499A18;
    font-family: Inika;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 60px;
}

.city_options {
    display: flex;
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    margin-top: 148px;
}

.city_options span {
    margin-left: 20px;
    color: #717171;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
}

.option_selector2 {
    background-color: #AEA1A1;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

@media screen and (max-width: 858px){
    .contacts_wrapper {
        flex-direction: column;
        align-items: center;
    } 

    .women_pic {
        width: 200px;
        margin: auto;
        order: +2;
        padding-top: 250px;
    }
}

@media screen and (max-width:470px) {
    .contact_us_wrapper {
        font-size: 20px;
    }

    .contacts_wrapper h2 {
        font-size: 25px;
    }

    .women_pic {
        width: 100px;
        padding-top: 132px;
    }

    .city_options {
        width: 300px;
    }


}