.header {
    height: 134px;
    background-color: #EDF2EC;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #000;
    font-family: Inika;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_burger {
    display: none;
}

.nav_list {
    display: flex;
    gap: 46px;
}

.nav_list a {
    color: #010201;
    font-family: Inika;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.nav_list a:hover  {
    color: #E06733;
}

@media screen and (max-width:655px) {

    .nav_list {
        flex-direction: column;
    }

    .nav_burger {
        display: block;
    }

    .leaves {
        display: none;
    }
}

