
.services {
    background-color: #EDF2EC;
    padding-top: 40px;
    padding-bottom: 121px;
}

.services_content {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1007px;
}

.services_content p {
    color: #499A18;
    font-family: Inika;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services_content_buttons {
    display: flex;
    gap: 38px;
}

.services_content button {
    border-radius: 5px;
    border: 1px solid #E06733;
    width: 161px;
    height: 50px;
    flex-shrink: 0;
    background-color: #EDF2EC;
    color: #E06733;
    font-family: Inika;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services_options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 55px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 329px;
    flex-shrink: 0;
}

.card_descr{ 
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #E3E1D5;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.option_name {
    color: #E06733;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0;
}

.option_descr {
    color: #717171;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 36px;
}

@media screen and (max-width:1014px) {
    .services_content {
        flex-direction: column;
        align-items:flex-start ;
    }

    .services_content p {
        padding-bottom: 40px;
    }
}

@media screen and (max-width:847px){ 
    .card{
        width: 281px;
    }
}

@media screen and (max-width:661px) {

    .services_options {
        justify-content: center;
    }
    .services_content_buttons {
        flex-wrap: wrap;
        gap: 9px 10px;
    }

    .services_content p {
        padding-bottom: 35px;
    }
}

@media screen and (max-width:400px) {
    .services {
        padding-bottom: 27px;
    }
}